

SetEnv APPLICATION_ENV https://api.colsantacatalina.edu.ar/testing/api/
SetEnv APPLICATION_ENV_NEW https://conta.colsantacatalina.edu.ar/testing/api/
setEnv APPLICATION_ENV_DOS https://dos.colsantacatalina.edu.ar/api/
SetEnv MACRO_CLICK testing_macro
SetEnv ENV_APP testing
SetEnv ENV_API_KEY_MAILGUN 332e6a563c8aa9b20a9d32b50eee0516-826eddfb-da6efdb1
setEnv ENV_API_DOMAIN desarrollo.colsantacatalina.edu.ar